@{
    ViewBag.Title = "Erro ao cadastrar-se";
}

<article class="newslistStyle">
    <h1>Você não pode se cadastrar enquanto logado em outra conta!</h1>
    <div class="newlistConts">
        Por favor, saia da conta atual para realizar um novo cadastro!
    </div>
</article>