@using MUwebNET.Web.Framework
@if (!SessionManager.Current.Logged)
{
    <form method="post" action="#" name="uss_login_form" id="frmLogin">
        <div align="left" style="width: 280px; margin-top: 10px; margin-bottom: 10px;">
            <div style="margin-top: 20px;"></div>
            <div style="float:left; width: 100px; font-size: 12px; line-height: 20px;">Usuário:</div>
            <div style="float:left; width: 180px;">
                <input type="text" value="" name="uss_id" class="field" style="width: 177px;" maxlength="10"></div>
            <div style="clear:both;"></div>
            <div style="margin-top: 10px;"></div>
            <div style="float:left; width: 100px; font-size: 12px; line-height: 20px;">Senha:</div>
            <div style="float:left; width: 180px;">
                <input type="password" value="" name="uss_password" class="field" style="width: 177px;" maxlength="12"></div>
            <input type="hidden" name="process_login">
            <div style="clear:both;"></div>
        </div>
        <div style="clear:both;"></div>
        <div align="right" style="margin-top: 12px; width: 284px;">
            <div style="float:left;"><a href="~/cliente/recuperar-senha">» Esqueceu sua senha?</a></div>
            <div style="float:right;">
                <input type="submit" class="small_button" value="Login">
            </div>
            <div style="float:left;"><a href="~/cliente/cadastrar">» Jogue agora!</a></div>
            <div style="clear:both;"></div>
        </div>
    </form>
}
else
{
    <p>Bem-vindo(a), @SessionManager.Current.Name</p>
    <ul>
        <li><a href="@Url.Action("MinhaConta","Cliente")">Painel</a></li>
        <li><a class="btn btn-danger" href="@Url.Action("Sair","Cliente")">Sair</a></li>
    </ul>
}