<!-- Login Form (Pode editar a gosto, caso queira mudar a posição do Login, não esqueça de alterar o _Layout.cshtml, ou criar um novo Layout)-->
<form class="navbar-form navbar-right" role="search">
    <div class="form-group">
        <input type="text" class="form-control" name="cpuser" placeholder="Usuário">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="cppass" placeholder="Senha">
    </div>
    <button type="submit" class="btn btn-default">Entrar</button>
</form>