<nav id="GameNavi" class="top-menubar">
    <ul id="GameMenuSkip">
        <li>
            <a href="~/" class="depth01">
                <span class="onLeft"></span><span class="onCent">Novidades</span><span class="onRight"></span>
            </a>
        </li>
        <li>
            <a href="~/cliente/cadastro" class="depth01">
                <span class="onLeft"></span><span class="onCent">Cadastro</span><span class="onRight"></span>
            </a>
        </li>
        <li>
            <a href="~/downloads" class="depth01">
                <span class="onLeft"></span><span class="onCent">Downloads</span><span class="onRight"></span>
            </a>
        </li>
        <li>
            <a href="~/comunidade/nosso-servidor" class="depth01">
                <span class="onLeft"></span><span class="onCent">Nosso servidor</span><span class="onRight"></span>
            </a>
        </li>
        <li>
            <a href="~/comunidade/rankings" class="depth01">
                <span class="onLeft"></span><span class="onCent">Rankings</span><span class="onRight"></span>
            </a>
        </li>
        <li>
            <a href="~/cliente/doacao" class="depth01">
                <span class="onLeft"></span><span class="onCent">Doações</span><span class="onRight"></span>
            </a>
        </li>
        <li>
            <a href="~/central-de-ajuda" class="depth01">
                <span class="onLeft"></span><span class="onCent">FAQ</span><span class="onRight"></span>
            </a>
        </li>
    </ul>
</nav>
