<script type="text/javascript">
    var serverTime = new Date();

    function updateTime() {
        serverTime = new Date(serverTime.getTime() + 1000);
        $('#timecontainer').html(serverTime.toGMTString());
    }

    $(function () {
        updateTime();
        setInterval(updateTime, 1000);
    });
</script>
<section>
    <article>
        <div class="server_time">
            Horário do Servidor (Oficial):&nbsp;
            <span id="timecontainer">@DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss")</span>
        </div>
        <!--<ul class="flagWrap">
        <li class="first">Language</li>
        <li><a class="on" href="./News - Last MU - Season 3 MU Online_files/News - Last MU - Season 3 MU Online.html" style="cursor:pointer" id="en-US" name="en"><img src="./News - Last MU - Season 3 MU Online_files/us.gif">&nbsp;English</a></li>
        <li><a class="langSelect" href="http://translate.google.com/translate?hl=en&sl=auto&tl=ro&u=http://www.last-mu.net/" style="cursor:pointer" id="ro-RO" name="pt"><img src="./News - Last MU - Season 3 MU Online_files/ro.gif">&nbsp;Româna</a></li>
        <li><a class="langSelect" href="http://translate.google.com/translate?hl=en&sl=auto&tl=ru&u=http://www.last-mu.net/" style="cursor:pointer" id="ru-RU" name="pt"><img src="./News - Last MU - Season 3 MU Online_files/ru.gif">&nbsp;Russian</a></li>
        <li><a class="langSelect" href="http://translate.google.com/translate?hl=en&sl=auto&tl=es&u=http://www.last-mu.net/" style="cursor:pointer" id="es-ES" name="es"><img src="./News - Last MU - Season 3 MU Online_files/es.gif">&nbsp;Espanol</a></li>
        <li><a class="langSelect" href="http://translate.google.com/translate?hl=en&sl=auto&tl=tl&u=http://www.last-mu.net/" style="cursor:pointer" id="tl-TL" name="tl"><img src="./News - Last MU - Season 3 MU Online_files/ph.gif">&nbsp;Filipino</a></li>
        <li><a class="langSelect" href="http://translate.google.com/translate?hl=en&sl=auto&tl=fr&u=http://www.last-mu.net/" id="fr-FR" name="fr"><img src="./News - Last MU - Season 3 MU Online_files/fr.gif">&nbsp;Francaise</a></li>
        <li><a class="langSelect" href="http://translate.google.com/translate?hl=en&sl=auto&tl=de&u=http://www.last-mu.net/" style="cursor:pointer" id="de-DE" name="de"><img src="./News - Last MU - Season 3 MU Online_files/de.gif">&nbsp;Deutsch</a></li>
        </ul>-->
    </article>
</section>
