@model List<MuwebNET.Models.WebContext.WebNews>
@{
    ViewBag.Title = "Novidades e atualizações";
}

@Html.Action("IndexSliders", "Home")

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <article class="newslistStyle">
            <h1><a href="~/noticias/@item.Id/@item.Date.ToString("dd-MM-yyyy")/@item.Title.ToFriendlyUrl()">@item.Title</a></h1>
            <div class="dateInfo"><span class="SprIco even">Noticias</span> <time>publicada em @item.Date.ToString("dd-MM-yyyy hh:mm")</time></div>
            <div class="newlistConts">
                <a href="~/noticias/@item.Id/@item.Date.ToString("dd-MM-yyyy")/@item.Title.ToFriendlyUrl()">
                    @Html.Raw(item.HtmlContent.SubstringMax(0, 160)) ...
                </a>
                <br>
            </div>
            <div class="goMore">
                <a href="~/noticias/@item.Id/@item.Date.ToString("dd-MM-yyyy")/@item.Title.ToFriendlyUrl()">
                    leia mais
                </a>
            </div>
        </article>
    }
}
else
{
    <p>Não existem notícias e novidades cadastradas no momento!</p>
}